<html>
<head>
    <title>语音配置信息</title>
</head>
<body>
<h2>语音配置信息</h2>

<div th:unless="${#lists.isEmpty(config)}">

    <ul>
        <li> 播放音量: <span th:text="${config.volume}"></span></li>
        <li> 播放速度: <span th:text="${config.rate}"></span></li>
        <li> 消息地址: <span th:text="${config.url}"></span></li>
        <li> 消息队列: <span th:text="${config.queue}"></span></li>
        <li> 告警级别: <span th:text="${config.level}"></span></li>
        <li> 告警内容: <span th:text="${config.content}"></span></li>
        <li> 告警组织: <span th:text="${config.orgcode}"></span></li>
    </ul>

    <form id="iform" th:action="@{/config.html?test}" th:method="post">

    <input type="submit" value="测试"></input>
    </form>

</div>

<hr/>

<span>提示:可以通过修改jar包中的application.properties进行配置</span>


</body>
</html>